/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px) and (max-width: 576px) { 
    h1 {
        font-size: 44px;
    }
    h2 {
        font-size: 34px;
        line-height: 42px;
    }
    h4 {
        font-size: 16px;
        line-height: 24px;
    }
    .header-social{
        display: none;
    }
    .btn{
        padding: 7px 30px;
        font-size: 14px;
    }
    .caption-content h1{
        font-size: 44px;
    }
    .heading h2 {
        font-size:30px;
    }
     .header-contact-info ul li{
        font-size: 13px;
    }
    .header-social-icons{
        display: none;
    }
    .about-img{
        margin-bottom: 30px;
    }
    .why-us-img{
        margin-top: 30px;
    }
    .contact-now-button {
        float: left;
    }
    .footer-links{
        padding-left: 0;
    }

    .carousel-caption{
        display: none !important;
    }
	
	
	.main_navbar{
      margin-top: 0px!important;
     background: #050505 !important;
		
	
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h4 {
        font-size: 16px;
        line-height: 24px;
    }
    h2 {
        font-size: 34px;
        line-height: 42px;
    }
    .header-social{
        display: none;
    }
    .heading h2 {
        font-size:32px;
    }
    .about-img{
        margin-bottom: 30px;
    }
    .why-us-img{
        margin-top: 30px;
    }
    .header-social-icons{
        display: none;
    }
    .contact-now-button {
        float: left;
    }
    .footer-links{
        padding-left: 0;
    }

    .carousel-caption{
        bottom: 30px !important;
    }

    .carousel-caption h1{
        font-size: 30px;
        margin-bottom: 0px !important;
    }

    .carousel-caption p{
        margin-top: 0px !important;
    }

     .carousel-caption a{
        margin-top: 10px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .about-img{
        margin-bottom: 30px;
    }
    .why-us-img{
        margin-top: 30px;
    }
    .contact-now-button {
        float: left;
    }

    .carousel-caption{
        bottom: 50px !important;
    }

    .carousel-caption h1{
        font-size: 50px;
    }

    .carousel-caption p{
        margin-top: 0px !important;
    }

     .carousel-caption a{
        margin-top: 10px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1245px) { 


     .carousel-caption{
        bottom: 40px !important;
    }

}