/*----------------------------------------------------------------------------------

Project     :   Tycoon - One Page Multi-purpose Business HTML Template
Author:     :   codeglamour
Author URI  :   https://themeforet.net/user/codeglamour

-------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------

[Table of contents]

01.Default CSS
02.Preloader
03.Header
04.Image Banner
05.Slider
06.Particles Effect
07.Animated Headline
08.Ripple Effect
09.Parallax Background
10.Video Background
11.Section Heading
12.About
13.Services
14.Portfolio
15.Feature
16.Call To Action
17.Why Choose Us
18.Newsletter
19.Pricing
20.Counter
21.Team
22.Testimonial
23.Latest Blog
24.Contact
25.Partner
26.Footer


--------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------
    Default CSS
---------------------------------------------------------------------------------------*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #373737;
    position: relative
}

#body-wraper {
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s
}

a {
    color: #2c3e50;
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6,
h1,
.h1,
.h2,
.h3 {
    font-weight: 400
}

h1 {
    font-size: 60px;
    line-height: 70px;
}

h2 {
    font-size: 36px;
    line-height: 46px
}

h3 {
    font-size: 24px;
    line-height: 34px
}

h4 {
    font-size: 18px;
    line-height: 25px;
}

h5 {
    font-size: 18px;
    line-height: 28px
}

h6 {
    font-size: 16px;
    line-height: 26px
}

p {
    font-size: 14px;
    color: #777777;
    line-height: 23px;
}
p {
    margin-top: 1rem;
    margin-bottom: 0;
}

blockquote {
    color: #777
}

.font-700 {
    font-weight: 700
}

.font-600 {
    font-weight: 600
}

.font-500 {
    font-weight: 500
}

.text-uppercase {
    text-transform: uppercase;
}



.bg-gray {
    background-color: #f7f7f7;
}




.color-white {
    color: #fff; 
	text-align: center;
}

.color-gray {
    color: #393939;
	
	margin: 0 auto;
	font-size:26px;
	
	

	
	
	
	
	
	
}


.color-white-top { font-size:50px; color: #FFFFFF; text-align: center;}


.p-color {
    color: #0a89ff
}
.p-color1 {
    color: rgb(203, 52, 43)
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
   background-color: rgba(0, 0, 0, 0.39);
}

.position-relative {
    position: relative
}

.bg-cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.form-control {
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset;
    border-radius: 2px
}

.btn{
    padding: 10px 50px;
    border-radius: 2px;
}
.btn-primary{
    color: #fff !important;
    border-color: #0a89ff;
    background-color: #0a89ff;
}
.btn-primary:hover {
    border-color: #0a89ff !important;
    background-color: #2596ff !important;
    color: #ffffff !important;
}
.btn-outline-primary:hover{
    color: #fff !important;
}

.fix {
    overflow: hidden
}

.m-0 {
    margin: 0
}

.p-0 {
    padding: 0
}

.dp-table {
    display: table;
    width: 100%;
    height: 100%
}

.tbl-cell {
    display: table-cell;
	
    vertical-align: middle
}

.full-height {
    height: 100vh
}


.float-left {
    float: left
}

.float-right {
    float: right
}


/*-------------------------------------------------------------------------------------
    Preloader
---------------------------------------------------------------------------------------*/

#preloader {
    background-color: #0a89ff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
}

#preloader .spinner {;
  margin: 300px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/*-------------------------------------------------------------------------------------
    Header
---------------------------------------------------------------------------------------*/

#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 9;
    background-color: #21212130;
    border-bottom: 1px solid rgba(154, 154, 154, 0.55);
}

.header-top {
    padding: 15px 0;
}

.header-contact-info ul li {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-right: 15px;
}

.header-contact-info ul li i {
    color: #0a89ff;
    margin-right: 4px;
}

.header-social ul li {
    display: inline-block;
}

.header-social li a {
    display: block;
    color: #fff;
    padding: 0 4px;
}

.header-social li span {
    font-weight: 500;
    color: #0a89ff;
}


.main_navbar{
   background: #21212130 !important;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 0;
    padding: 10px 4%;
   margin-top: 55px;
    -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}





.main_navbar.sticky {
   background: #0a4157!important;
    min-height: 72px;
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 99;
    -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}








.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
	
	z-index: 10000;
	cursor: pointer;
	
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
}





.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(10, 137, 255);
    padding: 10px;
}


/*-------------------------------------------------------------------------------------
    Image Banner
---------------------------------------------------------------------------------------*/

#main-banner {
    background-image: url(../img/slider-1.jpg);
    background-position: top;
}

.caption-content {
 margin:0; padding: 0px;	
	z-index: 1;
	position: absolute;
		
}

.caption-content p{
    margin: auto;
    max-width: 1000px;
    line-height: 1.6;
    font-size: 20px;
    font-weight: 300;
    opacity: 0.8;
}
 

/*-------------------------------------------------------------------------------------
    Slider
---------------------------------------------------------------------------------------*/

/* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
  }

  .carousel-caption p{
    color: #fff;
    padding: 0 75px;
  }

.carousel-caption {
  bottom: 180px !important;
}

/*-------------------------------------------------------------------------------------
    Particles Effect
---------------------------------------------------------------------------------------*/

#particles {
    background-image: url('../images/banner-5.html');
}

#particles .caption-content {
    position: absolute;
}

#particles .caption-content .large-btn {
    z-index: 99
}

#particles canvas {
    position: relative;
}

/*-------------------------------------------------------------------------------------
    Animated Headline
---------------------------------------------------------------------------------------*/

#animated-headline {
    background-image: url('../images/banner-5.html');
}


/*-------------------------------------------------------------------------------------
    Ripple Effect
---------------------------------------------------------------------------------------*/

#ripple-bg {
    background-image: url('../images/banner-6.html');
    background-position: top
}

.ripple {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%
}

/*-------------------------------------------------------------------------------------
    Parallax Background
---------------------------------------------------------------------------------------*/

#parallax {
    background-image: url(../images/banner-3.html);
    background-attachment: fixed;
    background-position: top
}

/*-------------------------------------------------------------------------------------
    Video Background
---------------------------------------------------------------------------------------*/

#video-background {
    background-color: #0a89ff
}

/*-------------------------------------------------------------------------------------
    Section Heading
---------------------------------------------------------------------------------------*/

.heading {
    margin: 0 0 60px;
}

.heading h2 {
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    margin: 0 0 10px;
    
    text-transform: uppercase;
}

/*-------------------------------------------------------------------------------------
    About
---------------------------------------------------------------------------------------*/

#about {
    padding: 80px 0 0 0px;
}

.about-content h2 {
    margin: 10px 0 15px;
    
}

/*-------------------------------------------------------------------------------------
    Services
---------------------------------------------------------------------------------------*/
#services{
    padding: 80px 0 50px;
}
.service-single {
    background-color: #fff;
    padding: 30px 20px 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    border: 1px dotted #e8e8e8;
}

.service-single:hover {
    -webkit-box-shadow: 0 0 20px rgba(144, 126, 125, 0.17);
    box-shadow: 0 0 20px rgba(144, 126, 125, 0.17);
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.service-single > img {
    color: #0a89ff;
    font-size: 50px;
    display: inline-block;
    margin-bottom: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*-------------------------------------------------------------------------------------
    Portfolio
---------------------------------------------------------------------------------------*/

#portfolios 

{ padding: 80px 0 50px;}



.control.btn{
    margin-bottom: 10px;
}


.portfolio-item{
    margin-bottom: 30px;
}



.shot-item {
  padding: 8px;
  border-radius: 4px;
  background: #f3f3f3;
}



.shot-item img {
  width: 100%;
}




.shot-item .overlay {
  display: block;
  position: relative;
}



.shot-item .overlay:before,
.shot-item .overlay:after {
  position: absolute;
  content: "";
  height: 30%;
  width: 30%;
  background: #0a89ff;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}



.shot-item .overlay:before {
  top: 0;
  left: 0;
  z-index: 1;
}



.shot-item .overlay:after {
  bottom: 0;
  right: 0;
  z-index: 1;
}




.shot-item:hover .overlay:before {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}



.shot-item:hover .overlay:after {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}


.overlay .item-icon {
  height: 48px;
  width: 48px;
  line-height: 48px;
  color: #fff;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  top: 50%;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 4px;
}




.shot-item:hover .item-icon 
{
  visibility: visible;
  opacity: 1;
}




.controls{
    margin-bottom: 30px;
}





/*-------------------------------------------------------------------------------------
    Feature
---------------------------------------------------------------------------------------*/

#features {
    padding: 80px 0 50px;
}

.feature-single {
    padding: 30px 20px 30px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin: 0 0 30px;
    border: 1px dotted #e8e8e8;
}

.feature-single:hover {
    -webkit-box-shadow: 0 0 20px rgba(144, 126, 125, 0.17);
    box-shadow: 0 0 20px rgba(144, 126, 125, 0.17);
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.feature-single img {
    font-size: 50px;
    color: #0a89ff;
    display: inline-block;
    margin-bottom: 25px;
}


/*-------------------------------------------------------------------------------------
    Call To Action
---------------------------------------------------------------------------------------*/

#contact-now {
    background-image: url(../img/count-area-bg.jpg);
    background-attachment: fixed;
    padding: 80px 0 80px
}
#contact-now  .overlay{
    opacity: 0.7;
    background: #000;
}

.contact-now-button{
    float: right;
}

.contact-now-button a {
    background-color: #0a89ff;
    color: #fff;
    font-weight: 500;
    padding: 12px 30px;
    display: inline-block;
    margin: 20px 0 0;
    border-radius: 2px;

}

/*-------------------------------------------------------------------------------------
    Why Choose Us
---------------------------------------------------------------------------------------*/

#why-us {
    padding: 80px 0 80px;
}

.why-us-content h2 {
    margin: 10px 0 15px;
}

.why-us-content p {
    margin: 15px 0 24px;
}

.why-us-features ul li {
    font-weight: 500;
    display: block;
    line-height: 30px
}

.why-us-features ul li i {
    color: #0a89ff;
    display: inline-block;
    margin-right: 4px
}

.why-us-features span {
    width: 88%
}

.why-us-features .icon {
    width: 10%
}


/*-------------------------------------------------------------------------------------
    Newsletter
---------------------------------------------------------------------------------------*/
#newsletter{
    padding: 80px 0;
}
.newsletter-form input {
    height: 50px;
    padding-left: 20px;
}

.newsletter-btn button {
    width: 100%;
    height: 50px;
    border: 0;
    background-color: #0a89ff;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
}

/*-------------------------------------------------------------------------------------
    Pricing
---------------------------------------------------------------------------------------*/
#pricing{
    padding: 80px 0 50px;
}
.pricing-table-single {
    background-color: #fff;
    padding: 20px 0 40px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
}

.pricing-table-single:hover {
    -webkit-box-shadow: 0 0 20px #e6f0fa;
    box-shadow: 0 0 20px #e6f0fa;
}

.table-title > h2{
    font-size: 30px;
}

.price-amount {
    padding: 15px 0 10px;
    background: #0a89ff;
}

.price-amount-inverse{
    padding: 15px 0 10px;
    background: #fff;
}

.price-amount h2 sub {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

.table-details{
    padding: 10px 0 10px;
}

.table-details ul li {
    display: block;
    padding: 8px 0;
    font-weight: 500;
    color: #777;
}

.table-btn {
    margin: 20px 0 0;
}

.table-btn a {
    display: inline-block;
    border: 2px solid #0a89ff;
    padding: 8px 40px;
    color: #0a89ff;
    font-weight: 500;
    border-radius: 2px;
}

.pricing-table-single:hover .table-btn a {
    color: #fff;
    background-color: #0a89ff
}

.pricing-table-single.popular {
    background-color: #0a89ff;
}

.pricing-table-single.popular:hover {
    -webkit-box-shadow: 0 0 50px #e6f0fa;
    box-shadow: 0 0 50px #e6f0fa;
}

.pricing-table-single.popular .price-amount h2 sub {
    color: #ddd;
}

.pricing-table-single.popular .table-details ul li {
    color: #fff;
}

.pricing-table-single.popular .table-btn a {
    border: 2px solid #fff;
    color: #fff;
}

.pricing-table-single.popular:hover .table-btn a {
    color: #0a89ff;
    background-color: #fff
}

.table-title{
    border-bottom: 1px solid #0a89ff;
}

.table-title1{
    border-bottom: 1px solid #fff;
}

/*-------------------------------------------------------------------------------------
    Counter
---------------------------------------------------------------------------------------*/

#counter {
    padding: 80px 0 50px;
    background-image: url(../img/counter-bg.jpg);
    background-position: top;
    background-attachment: fixed
}
#counter .overlay{
    opacity: 0.7;
    background: #000;
}
.counter-single{
    margin-bottom: 30px;
}
.counter-single i {
    font-size: 40px;
    display: inline-block;
    color: #0a89ff;
    margin-bottom: 20px;
}

.counter-single .icofont.icofont-cop-badge,
.counter-single .icofont.icofont-files {
    font-size: 30px;
}

.counter-single h6 {
    color: #b9b9b9;
    margin: -5px 0 0;
}

/*-------------------------------------------------------------------------------------
    Team
---------------------------------------------------------------------------------------*/
#team{
    padding: 80px 0 50px;
}

.team-member-single {
    border: 1px solid #ddd;
    margin-bottom: 30px;
}
.team-member-single p{
    margin-top: 0;
}

.team-member-single:hover .member-social-icons {
    opacity: 1;
    visibility: visible;
    right: 0
}

.member-details {
    padding: 20px 0 20px;
    background-color: #0a89ff
}

.member-social-icons {
    position: absolute;
    top: 0;
    right: -20px;
    background-color: #2c3e50;
    padding: 30px 20px;
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
}

.member-social-icons li a {
    display: block;
    font-size: 20px;
    padding: 10px 0;
    color: #fff
}

.member-social-icons li a:hover {
    color: #0a89ff
}

/* ==========================================================================
  ::12.  Testimonial Section Style
   ========================================================================== */
   #testimonial{
      padding: 80px 0px;  
   }

  .clients_testimonial_area .client-name > h5 {
    font-size: 22px;
    color: #343434;
    margin-bottom: 0px;
}

.clients_testimonial_area .star-icon > i {
    font-size: 18px;
    color: #f1b922;
}

.clients_testimonial_area .client-description > p {
    max-width: 1010px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 15px;
}

.clients_testimonial_area .client > i {
    font-size: 30px;
    color: #343434;
    margin-bottom: 20px;
}

.clients_testimonial_area .client-name > p {
    color: #b5aec4;
}

.clients_testimonial_area ul>li{
    color: #f8f9fa;
}

.clients_testimonial_area .slick-dots {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.clients_testimonial_area .slick-dots li button {
    width: 12px;
    height: 12px;
    text-indent: -999999999999999999999999px;
    border: 1px solid #a49fba;
    background-color: #fff;
    border-radius: 50%;
    margin: 5.5px;
    outline: none;
}

.clients_testimonial_area .slick-dots li.slick-active button {
    background-color: #2a3855;
    border-color: #2a3855;
}

.clients_testimonial_area .slick-slide.client-thumbnail {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 129px;
}


.clients_testimonial_area .slick-slide img {
    display: block;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.clients_testimonial_area .slick-slide.slick-current img {
    width: 100px !important;
    height: 100px !important;
}

.clients_testimonial_area .slick-arrow {
    position: absolute;
    width: 30px;
    background-color: transparent;
    height: 100%;
    text-align: center;
    font-size: 24px;
    color: #b5aec4;
    display: block;
    line-height: 550%;
    left: 0;
    z-index: 90;
    cursor: pointer;
}

.clients_testimonial_area .slick-arrow.fa-angle-right {
    left: auto;
    right: 0;
    top: 0;
}

/*-------------------------------------------------------------------------------------
    Latest Blog
---------------------------------------------------------------------------------------*/
#latest-blog{
    padding: 80px 0;
}
.blog-post-single.latest {
    background-color: #fff;
    overflow: hidden;
    margin: 0 0 30px
}

.blog-post-single.latest .post-details {
    padding: 0px 0 10px;
}

.blog-btn a {
    display: inline-block;
    background-color: #0a89ff;
    color: #fff;
    font-weight: 500;
    padding: 12px 30px;
    margin: 20px 0 0;
    border-radius: 2px;
}

/*-------------------------------------------------------------------------------------
    Contact
---------------------------------------------------------------------------------------*/

#contact{
    padding: 80px 0;
}

.contact-info{
    margin-top: 30px;
}
.contact-info-single i {
    color: #0a89ff;
    font-size: 30px;
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 55px;
    border: 2px solid #0a89ff;
    margin: 0 0 15px
}

.contact-info-single {
    margin: 0 0 35px;
    padding: 20px 20px;
}

.contact-form input {
    height: 50px;
    padding-left: 20px;
}

.contact-form textarea {
    padding: 15px 0 0 20px;
}

.contact-btn button {
    border: 2px solid #0a89ff;
    background-color: transparent;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 16px;
    color: #0a89ff;
    border-radius: 2px;
}

.contact-btn button:hover {
    background-color: #0a89ff;
    color: #fff;
}

#map {
    width: 100%;
    height: 430px
}

/*-------------------------------------------------------------------------------------
    Footer
---------------------------------------------------------------------------------------*/

#footer {
    background-color: #1A1E21;
}
#footer h3{
    margin-bottom: 25px;
}

.footer-top {
    padding: 80px 0 80px;
}


.footer-social-area ul li {
    display: inline-block;
}

.footer-social-area ul li a {
    display: block;
    color: #0a89ff;
    font-size: 20px;
    border: 1px solid #0a89ff;
    padding: 4px 8px;
    margin: 0 4px;
    height: 36px;
    width: 36px;
    text-align: center;
}

.footer-social-area ul li a:hover {
    background-color: #0a89ff;
    color: #fff;
}

.footer-links{
    padding-left: 15px;
}
.footer-links li a {
    padding: 8px 0 3px;
    display: inline-block;
    color: #777;
    font-weight: 500;
}

.footer-links li a:hover {
    color: #0a89ff;
}

#footer .footer-top .footer-newsletter{
    margin-top: 24px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 5px 8px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #0a89ff;
    border: 0;
    width: 35%;
    padding: 9px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    font-size: 13px;
}

.footer-bottom {
    background-color: #131618;
    padding: 20px 0;
}

.click-to-top {
    background-color: #0a89ff;
    position: fixed;
    bottom: 30px;
    right: 15px;
    overflow: hidden;
    border-radius: 4px
}

.click-to-top > a {
    background-color: #0a89ff;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 8px 12px;
}

/*-------------------------------------------------------------------------------------
    Blog Page
---------------------------------------------------------------------------------------*/

.blog-wrap {
    padding: 80px 0 60px;
}

.page-title {
    background-image: url(http://via.placeholder.com/1920x1280);
    padding: 220px 0 60px
}

.breadcrumb {
    background-color: transparent
}

.breadcrumb ul li {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    padding: 0 4px
}

.breadcrumb li a {
    display: block;
    font-weight: 600;
    color: #0a89ff;
}

.blog-post-single {
    margin: 0 0 50px;
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa;
}

.post-details {
    padding: 0 20px 25px;
}

.post-title h2 a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    display: block;
    margin: 16px 0 -10px;
}

.post-fact p a {
    display: inline-block;
    padding: 2px 6px 0 0;
    font-size: 13px
}

.post-fact p a:hover,
.post-title h2 a:hover {
    color: #0a89ff
}


/*
    Widget
-----------------------------
*/

.blog-sidebar {
    padding: 20px 20px 0;
    -webkit-box-shadow: 0 0 10px #e6f0fa;
    box-shadow: 0 0 10px #e6f0fa;
}

.blog-sidebar .widget {
    margin: 0 0 30px;
}

.blog-sidebar .widget h3 {
    margin: 0 0 15px;
}

.widget.recent-post {
    margin: 0 0 20px
}

.widget.search input {
    height: 50px;
}

.widget.search span {
    position: absolute;
    right: 20px;
    top: 65px;
}

.recent-post-single {
    margin: 0 0 10px;
}

.recent-post-single .post-img {
    width: 30%;
}

.recent-post-single .post-img a {
    display: inline-block;
}

.recent-post-single .post-cont {
    width: 70%;
    padding-left: 5%;
}

.recent-post-single .post-cont h5 {
    font-weight: 500;
    margin: -5px 0 0
}

.recent-post-single .post-cont p span {
    font-size: 12px;
    font-weight: 500;
    margin: -4px 0 -6px;
    display: block;
}

.widget.category ul li {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

.widget.category ul li:first-child {
    border-top: 1px solid #ddd;
}

.widget.category ul li a:hover,
.recent-post-single .post-cont h5 a:hover {
    color: #0a89ff
}

.widget.tags span a {
    display: inline-block;
    padding: 10px;
    background-color: #0a89ff;
    color: #fff;
    font-weight: 500;
    margin: 0 4px 4px 0;
    border-radius: 4px;
}

.pager li a {
    font-weight: 500;
    margin: 0 5px;
    padding: 5px 20px;
}

.pager li a:hover {
    background-color: #0a89ff;
    border-color: #0a89ff;
    color: #fff;
}

/*-------------------------------------------------------------------------------------
    Blog Details Page
---------------------------------------------------------------------------------------*/

.blog-details-wrap {
    padding: 80px 0
}

.blog-post-social {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 0 15px;
}

.blog-post-social ul li span {
    font-size: 18px;
    padding-right: 5px
}

.blog-post-social ul li {
    display: inline-block;
}

.blog-post-social ul li a {
    display: block;
    border: 2px solid #0a89ff;
    padding: 8px 12px;
    border-radius: 50%;
    font-size: 16px;
    color: #0a89ff;
}

.blog-post-social ul li a:hover {
    background-color: #0a89ff;
    border-color: #0a89ff;
    color: #fff;
}

.post-comments h3 {
    margin: 40px 0 30px;
}

.comment-single .media-body p a {
    font-weight: 500;
    padding-right: 5px;
}

.comment-single .media-body p a:hover {
    color: #0a89ff;
}

.comment-single img {
    border-radius: 50%;
    width: 60px;
}

.comment-single .media-body {
    padding: 0 0 10px;
}

.comment-single.inner {
    padding: 30px 0 0;
}

.comment-form input {
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
}

.comment-form textarea {
    border-radius: 25px;
    padding: 15px 0 0 20px
}

.comment-btn button {
    color: #0a89ff;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 25px;
    border: 2px solid #0a89ff;
    background-color: transparent;
}

.comment-btn button:hover {
    background-color: #0a89ff;
    border-color: #0a89ff;
    color: #fff;
}

/*-------------------------------------------------------------------------------------
    Not Found Page
---------------------------------------------------------------------------------------*/

.notfound-content {
    padding: 80px 0 135px;
}

.notfound-content h1 {
    font-size: 120px;
    line-height: 130px;
}

.notfound-content h2 {
    font-size: 50px;
    line-height: 60px;
    margin: 20px 0 0;
}

.notfound-content a {
    display: inline-block;
    background-color: #0a89ff;
    color: #fff;
    font-weight: 500;
    padding: 12px 20px;
    border-radius: 4px;
    margin: 30px 0 0;
}



/*-------------------------------------------------------------------------------------
   Demo Page
---------------------------------------------------------------------------------------*/

.page-demo-content {
    position: relative;
    -webkit-box-shadow: 0 0 2px #e6f0fa;
    box-shadow: 0 0 2px #e6f0fa;
}

.page-demo-content:hover .page-demo-overlay {
    visibility: visible;
    opacity: 1
}

.page-demo-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0
}

.page-demo-overlay a {
    display: inline-block;
    background-color: #fff;
    color: #0a89ff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 4px;
}

.page-demo-overlay a:hover {
    background-color: #0a89ff;
    color: #fff;
}

#homepage-demo h4 {
    margin: 20px 0 40px;
}

#homepage-demo {
    padding: 80px 0 30px;
}

#homepage-demo h4 a {
    display: block;
    font-weight: 600;
}

#homepage-demo h4 a:hover {
    color: #0a89ff;
}



.click_here { color:#0586FF;}



@media only screen and (max-width: 480px) and (min-width: 320px) {

.caption-content {
 position:absolute; z-index: 1; 	

				
}
	
	
	.color-gray { width: 100%!important}
	
.tbl-cell { padding-top: 180px!important}
	
	.tbl-cell p { font-size:15px!important; line-height: 25px; padding-top: 20px;} 
	
		
.color-white-top { font-size:35px!important; line-height: 45px; }

.contact-info-single p { font-size:18px!important;}
	
.contact-info-single p a { font-size:18px!important;}
	
	
	
	
	
	
}


















